.container {
  text-align: center;
}
.box {
  width: 100px;
  height: 100px;
  border: 2px solid darkblue;
  display: inline-block; /* to display in center*/
  line-height: 100px;
  color: darkred;
  font-size: 3.5vw;
  text-shadow: 1px 1px yellow;
}

.box:hover {
  background-color: blue;
  cursor: pointer;
}
.box:active {
  background-color: purple;
}

.board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
}
.gameName {
  color: darkgoldenrod;
  text-shadow: 2px 2px chartreuse;
  font-family: cursive;
  font-size: 4vw;
  transition: transform 2s;
}
.gameName:hover {
  transform: rotateY(360deg);
}
button:hover {
  color: aqua;
}
button {
  color: blueviolet;
  border-top-left-radius: 1px;
}
form {
  font-size: 2vw;
  color: darkgreen;
  margin-bottom: 15px;
  margin-right: 5%
}
.playerTurn {
  color: darkgreen;
}
